.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.grid-form>.map {
    height: 70vh;
}

.grid-form>form>div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}