<div id='container'>
    <div class='wrapper'>


        <h1>Add an Authoritative Person</h1>
        <mat-vertical-stepper [linear]="isLinear">
            <mat-step label="Select the person" [completed]="ap.personId != ''">
                <mat-horizontal-stepper>
                    <mat-step label="Select from available people">

                        <div id='available-aps'>
                            <h3 [class.done]="ap.personId != ''" [class.ion-checkmark-circled]="ap.personId != ''">Available People
                            </h3>
                            <div *ngIf="ap.personId == ''">
                                <p>Click to select the person</p>

                                <div class='person-holder'>
                                    <!-- available people -->
                                    <div *ngFor="let p of people; let i = index" (click)="selectPerson(p, i)" title="p.fullName">
                                        <!-- <img src="{{p.picture_url}}" /> {{p._id}} {{p.fullName}} {{p.gender}} {{p.picture_url}} -->
                                        <app-person-details [person]="p"></app-person-details>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-step>
                    <mat-step label="Person does not exist in the database">

                        <div>
                            <h3 [class.done]="ap.personId != ''" [class.ion-checkmark-circled]="ap.personId != ''">Add a person
                            </h3>
                            <div *ngIf="ap.personId == ''">
                                <app-add-person [toaster]="toaster" [url]="url" (personAdded)="personAdded($event)">
                                </app-add-person>

                            </div>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
                <button *ngIf="ap.personId != ''" class='button red' (click)="resetSelection()">Choose a different person</button>
                <button *ngIf="ap.personId != ''" matStepperNext>Next</button>
            </mat-step>
            <mat-step label="Select Privileges" [completed]="privSelected">
                <h2>Privileges</h2>
                <div *ngFor="let p of priv; let i = index" style="display: grid; grid-template-columns: 1fr 5fr; width: 200px">
                    <input type='checkbox' name="pri" id="{{'check_'+p.name}}" value="{{p.name}}" (change)="updatePriv(i, $event.target.checked)" />
                    <label for="{{'check_'+p.name}}" style='cursor: pointer;'> {{p.name}}</label>
                </div>
                <br />
                <button *ngIf="privSelected" matStepperNext>Next</button>
            </mat-step>
            <mat-step label="Login Credentials">
                <h2>Login Credentials</h2>
                <p>Password will be emailed to the owner of this account!</p>
                <div>
                    <h4>Person Selected: {{personSelected.fullName}}</h4>
                </div>
                <div>
                    <label for="">*Email Address</label>
                    <input type='email' placeholder="Email Address" [(ngModel)]="ap.email" />
                    <button class=" button " (click)="addAp() ">Add this Authoritative Person</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>






    </div>
</div>