.suspect-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    margin: 5px 10px;
    cursor: pointer;
    grid-gap: 10px;
    padding: 5px;
    border: 1px solid #999;
}

.suspect-details:hover {
    background: #999;
}

.suspect-details .details-holder {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.suspect-details .details-holder label:nth-child(2n+1) {
    font-weight: normal;
}