.bar {
    display: flex;
}

.bar h1 {}

.bar>.buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 10px;
    padding: 20px 0 10px 0;
}

.bar>.buttons>button {
    border-radius: 5px;
    background-color: #2ecc71;
    color: white;
}

.bar>.buttons>button:hover {
    background-color: #27ae60;
}

.suspects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    ;
}

.suspect {
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 0 10px #aaa;
    ;
    border-radius: 10px;
}