<div id='container'>
    <div class='wrapper'>
        <h1>Welcome to Authoritative Dashboard</h1>
        <div class='big-banner'>
            <button class='button green' routerLink="./../map">Open Map</button>
            <button class='button green' routerLink="./../admins/add">Add Admin</button>
            <button class='button green' routerLink="./../authoritative/add">Add Authoritative Person</button>
        </div>


        <!-- 
        <div class='bar'>
            <h1>Cameras</h1>
        </div>
        <div class='cameras'>
            <div *ngFor="let camera of cameras" class='camera' routerLink="../cameras/{{camera._id}}">
                <p class='id'>ID: {{camera._id}}</p>
                <p class='location'>Location: {{camera.latitude | number : '.2' }},{{camera.longitude| number : '1.1' }}</p>
                <img src="{{camera.url}}" />
            </div>
        </div>
         -->
        <div class='bar'>
            <h1>Manage Suspects</h1>
            <div class='buttons'>
                <button routerLink="../suspects/add">Add Suspect</button>
            </div>
        </div>

        <div class='search' *ngIf="search.suspects.query != null">
            <p>Search for Suspects: </p>
            <div class='search-bar'>
                <input type='search' (focus)="toaster.info('Press enter to search!')" [(ngModel)]="search.suspects.query" (keyup.enter)="searchForSuspects()" placeholder="Type search query" />
                <button (click)="clearSuspectsSearchQuery()">Clear</button>
            </div>
        </div>

        <div *ngIf="search.suspects.query != ''">
            <h4>Suspects fitting search query ' {{search.suspects.query}} ': </h4>
            <div class='suspects'>
                <app-suspect-details *ngFor="let suspect of search.suspects.suspects" routerLink="../suspects/{{suspect._id}}" [suspect]="suspect"></app-suspect-details>
            </div>
        </div>
        <div *ngIf="search.suspects.query == ''" class='suspects'>
            <div *ngFor="let suspect of suspects" routerLink="../suspects/{{suspect._id}}">
                <app-suspect-details [suspect]="suspect"></app-suspect-details>
            </div>
        </div>
    </div>
</div>