<div id='container'>
    <div class='wrapper'>
        <h1 class='title'>DARTS</h1>
        <p>Detection And Recognition with Tracking of Suspects</p>
        <h2>What is DARTS?</h2>
        <p>

            DARTS (Detection And Recognition with Tracking of Suspects) is a web and mobile application for the use of security related organizations through which they will be able to monitor the movements of a person of interest who would be detected and recognized
            through computer vision algorithms. They will be able to observe the movements of the person in real-time which would not only enable them to capture the person but would also help them in monitoring his movements and interpreting his intentions.
        </p>
        <p>
            It provides a platform to manage and monitor cameras and forces along with the platform for forces to communicate with each other and be notified about the alerts. It would also make it easier to capture the groups working in collaboration with minimum
            hassle.
        </p>
        <h3>Aim</h3>
        <p>
            DARTS aims to aid the security forces in catching the culprits as soon as possible and making the city a safer place for its citizens.
        </p>
        <h3>How does the system achieve this aim?</h3>
        <p>
            DARTS uses state of the art object detection, face detetction and facial recognition algoroithms to ensure your safety. The security team will be equipped with our user friendly mobile application to be notified of alerts and stay in contact with the
            rest of the teams. Let the authoritative person sign up so you can get started. Pin code will be sent to the email you provided, enter it to ensure your log in. You have the authority to add suspects, admins and monitor live missions on map.
            To add admin, add their email. they will get the password there and can sign up. The admin has the authority to add cameras, servers and QR units. You can also change the processing settings of the feed if the camera is located in a dark place.
            Assign cameras to the servers and sleep in peace knowing our system is ensuring that no suspect enters the premises.
        </p>
    </div>
</div>