.frame {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.frame .live-footage {
    grid-row: 1 / 3;
}

.frame .location-on-map {
    grid-column: 2;
    width: 100%;
    height: 100%;
}

.frame .camera-details {
    grid-column: 2;
}

.camera-details>div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}