<div id='container'>
    <div class='wrapper'>
        <div *ngIf="camera == null">
            <h1>Please wait, loading camera details!</h1>
        </div>
        <div *ngIf="camera != null">
            <h1>Viewing live footage of camera: {{camera._id}}</h1>
            <div class='frame'>

                <div class='live-footage'>
                    <div>
                        Footage from:
                        <select [(ngModel)]="videoOrigin">
                            <option value='camera'>Camera</option>
                            <option value='server' *ngIf="server != null">Server</option>
                        </select>
                    </div>
                    <div *ngIf="videoOrigin == 'camera'">
                        <img src="{{camera.url}}" (error)="validCameraVideoUrl=false" *ngIf="validCameraVideoUrl" />
                        <div style='margin: 30px 0' class='error' *ngIf="!validCameraVideoUrl">Streaming unavailable for this camera - check url and make sure camera is running</div>
                    </div>

                    <div *ngIf="videoOrigin == 'server'">
                        <img src="{{server.url + (server.url.length>0 && server.url[server.url.length-1]=='/'?'':'/') + 'camera/' + camera._id}}" (error)="validServerVideoUrl=false" *ngIf="validServerVideoUrl" />
                        <div style='margin: 30px 0' class='error' *ngIf="!validServerVideoUrl">Server streaming unavailable for this camera - check url and make sure server is running</div>
                    </div>

                    <app-adjust-preprocessing class='aapc' [cameraId]="cameraId"></app-adjust-preprocessing>
                </div>
                <agm-map (mapClick)="choseThisLocation($event)" class='location-on-map' [latitude]="camera.latitude" [longitude]="camera.longitude" [zoom]="16">
                    <agm-marker [longitude]="camera.longitude" [latitude]="camera.latitude"></agm-marker>
                </agm-map>
                <form class='camera-details'>
                    <!-- can edit camera details here  -->
                    <h1>Camera Details</h1>
                    <div>
                        <label>Url: </label>
                        <input type='url' [(ngModel)]="camera.url" name='url' />

                        <label>Location </label>

                        <!-- filler -->
                        <label for=""></label>

                        <label>Longitude: </label>
                        <input type='number' [(ngModel)]="camera.longitude" name='longitude' />
                        <label>Latitude: </label>
                        <input type='number' [(ngModel)]="camera.latitude" name='latitude' />


                        <h3 style='grid-column: 1 / 3'>Assigned to Server:</h3>

                        <select name="serverId" style='grid-column: 1 / 3' [(ngModel)]="camera.serverId">
                            <option selected value="">No server</option>
                            <option *ngFor="let server of servers" [value]="server._id"
                                [attr.selected]="server._id==camera.serverId ? true : null">
                                {{server._id }} > {{server.name}}
                            </option>
                        </select>


                        <button (click)="deleteCamera()" style="background-color:#e74c3c; color: white;">Delete</button>

                        <button (click)="updateCamera()" style="background-color:#2980b9; color: white;">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>