<div id='container'>
    <div class='wrapper'>
        <h1>Viewing Suspect: {{suspect.fullName}}</h1>
        <p>{{suspect._id}}</p>
        <div class='frame'>
            <div class='image-viewer'>
                <div class='current-image'>
                    <img src="{{suspect.pictures[0]}}" style="max-height: 300px" />
                </div>
                <hr>
                <h3>All Pictures: </h3>
                <p>Upload pictures:</p>
                <input type="file" ng2FileSelect [uploader]="uploader" multiple (onFileSelected)="uploadFiles()" />
                <div class='all-images'>
                    <div *ngFor="let image of suspect.pictures">
                        <img src="{{image}}" />
                    </div>
                </div>
            </div>
            <form class='suspect-details'>
                <!-- can edit camera details here  -->
                <h1>Suspect Details</h1>
                <div>

                    <label>Full Name: </label>
                    <input type='text' [(ngModel)]="suspect.fullName" name='fullName' />


                    <label>Gender: </label>
                    <select [(ngModel)]="suspect.gender" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>

                    <label>Tags (separated by commas): </label>
                    <textarea [(ngModel)]="tags" name='tags'></textarea>

                    <label for=""></label>
                    <!-- <button (click)="deleteServer()" style="background-color:#e74c3c; color: white;">Delete</button> -->

                    <!-- <button (click)="updateServer()" style="background-color:#2980b9; color: white;">Update</button> -->

                </div>
            </form>
            <div class='map'>
                <h1>Track history</h1>
                <p>Alerts reported ({{alerts.length}})</p>
                <p *ngIf="alerts.length == 0">Map will only be shown if there are alerts for this suspect.</p>
                <div *ngIf="alerts.length > 0">
                    <h3>Navigation</h3>
                    <p>Navigate to this alert on the map: </p>
                    <select (change)="showUnitOnMap($event.target.value, alerts)">
                        <option value=""></option>
                        <option *ngFor="let item of alerts" value="{{item._id}}">{{item.suspectId.fullName}} -
                            {{item.time}}
                        </option>
                    </select>
                    <br>
                    <agm-map [latitude]="comsats.latitude" [longitude]="comsats.longitude" [zoom]="16" [zoom]="16">

                        <agm-marker class='alert-marker' *ngFor="let item of alerts" [longitude]="item.longitude" [latitude]="item.latitude" [iconUrl]="item.icon" [title]="'alert: ' + item._id" [label]="'Suspect:' + item.suspectId.fullName"></agm-marker>
                        <agm-polyline *ngFor="let path of tpl" [editable]="false">
                            <agm-polyline-point *ngFor="let p of path" [latitude]="p[1]" [longitude]="p[0]">
                            </agm-polyline-point>
                        </agm-polyline>
                    </agm-map>
                </div>
            </div>
        </div>
    </div>
</div>