<div id='container'>
    <div class='wrapper'>
        <h1>Login as Authoritative Person</h1>
        <form>
            <label>Email:</label>
            <input type='email' name="email" [(ngModel)]="email" placeholder="Enter email here" />
            <label>Password:</label>
            <input type='password' name="password" [(ngModel)]="password" placeholder="Enter password here" />
            <button (click)="loginx()">Login as Authoritative Person</button>
        </form>
    </div>
</div>