* {
    font-family: Lato, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

#container {
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 100px;
    height: calc(100vh - 100px);
    overflow: auto;
}

app-root {
    overflow: auto;
}

header {
    height: 100px;
    /* background: #333; */
    /* color: white; */
    background: white;
    box-shadow: 0 0 10px #aaa;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    width: 80% !important;
    margin: auto !important;
}

header .wrapper * {
    margin: 0;
    padding: 0;
    list-style: none;
}

header .wrapper>* {
    line-height: 100px;
}

header .wrapper ul {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 10px;
}

header .wrapper ul li {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    margin: 30px 0;
    margin-left: 20px;
    border-radius: 20px;
    background: #f39c12;
    color: white;
}

header .wrapper ul li a {
    font-weight: bold;
}

header .wrapper ul li:hover {
    background: #2c3e50;
    color: #fff !important;
    cursor: pointer;
}

header .wrapper ul li:hover a {
    color: #fff;
    display: block;
}

header .wrapper ul li * {
    text-decoration: none;
    color: white;
}

header .title {
    font-size: 30px;
    ;
}

header .logo {
    display: block;
    height: 80px;
    width: 120px;
    margin: 10px 0;
    background: url("./assets/images/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#container .wrapper {
    width: 80%;
    margin: auto;
}

button {
    padding: 10px 25px;
    border-radius: 20px !important;
}

button:hover {
    background: #d35400 !important;
    color: white !important;
}

p.warning {
    color: white;
    background: red;
    padding: 5px 10px;
}

h1.warning,
h2.warning {
    color: red;
}

.person-holder {
    display: flex;
    flex-wrap: wrap;
}

.person-holder .person {
    width: 100px;
    margin: 10px 15px;
    padding: 5px;
}

.person-holder .person img {
    width: 100%;
}

.member-holder .member img {
    width: 100px;
}

.done {
    background: #27ae60;
    color: white;
    padding: 5px 10px;
}

.done:before {
    margin-right: 20px;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='number'],
input[type='url'],
button,
input[type='submit'],
input[type='button'],
select {
    border-radius: 20px;
    border: 1px solid #888;
    outline: none;
    padding: 0 !important;
    height: 30px !important;
    line-height: 30px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

button,
input[type='submit'],
input[type='button'] {
    border-radius: 20px;
    background: #f39c12 !important;
    color: white !important;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 20px !important;
}

button.green {
    background: #27ae60 !important;
    color: white;
}

button.red {
    background: #c0392b !important;
    color: white;
}

button.red,
button.green {
    margin: 5px 10px;
}

.error {
    background: #e74c3c;
    color: white;
    padding: 5px 10px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.search * {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0;
    margin-left: 10px;
}

.search>.search-bar {
    display: flex;
    border-radius: 50px;
    border: 1px solid #888;
    overflow: hidden;
}

.search>.search-bar * {
    display: block;
    background: transparent;
    border: none;
    padding: 0 5px;
    margin: 0;
    outline: none;
}

.search>.search-bar button:hover {
    background: rgb(199, 65, 65);
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
